:root{
    --up_arrow_color:#ffffff;
    --up_arrow_shadow:0px 0px 10px #fff;

    --down_arrow_color:#ffffff49;
    --down_arrow_shadow:0px 0px 0px #ffffff00;
}

body{
    background-color: rgb(3, 3, 3);
    color: #fff;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width:100%;
    height: 100%;
    padding:20px 50px;
}
table{
    width:100%;
    border-collapse:collapse;
}
td,th{
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
  border: 0.5px solid rgb(12, 200, 229);
  letter-spacing: 2px;
}
th{
    font-size: 21px;
    background-color: rgb(2, 24, 24);
}
td{
    font-size: 21px;
    background-color: rgb(8, 107, 107);
}
tr:hover td{
    background-color: chartreuse;
}
.footer{
    margin-top: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    padding: 7px 15px;
    color: #fff;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
button.active, button:hover{
     background: linear-gradient(to bottom,#9c9c9c 0%,#111 100%);
}

.tab_head_container{
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_limit{
    font-size: 20px;
}
.page_limit select{
    font-size: 16px;
    color: #fff;
    padding: 5px;
    background: linear-gradient(to bottom,#9c9c9c 0%,#111 100%);
}
.page_limit option{
    background: rgb(58, 90, 134);
}
#tab_filter_text{
    height: 25px;
    width: 200px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding-left: 10px;
    border-radius: 5px;
}
#tab_filter_button{
    font-size: 16px;
    letter-spacing:1px;
}
th{
    position: relative;
}
th.sort_indication::after{
    position: absolute;
    content:'\25b2';
    font-size: 15px;
    cursor: pointer;
    color: var(--up_arrow_color);
    text-shadow: var(--up_arrow_shadow);
    right: 5px;
}
th.sort_indication::before{
    position: absolute;
    content:'\25bc';
    font-size: 15px;
    cursor: pointer;
    color: var(--down_arrow_color);
    text-shadow: var(--down_arrow_shadow);
    right: 5px;
    margin-top: 15px;
}